    <footer class="footer">
      <div class="container">
        <br>
        <p class="text-center">
          By <a href="https://twitter.com/gregjopa" target="_blank">@balaji,Bhaskar,Madhuhaas</a>.
          The source code for this demo is available on BitBucket:
          <br><a href="https://bitbucket.org/madhuhaasnannaka/demo" target="_blank">
            https://bitbucket.org/madhuhaasnannaka/demo
          </a>

        </p>
      </div>
    </footer>
  </body>
</html>
